#ct{
    padding: 10px;
    margin: auto;
    min-width: 200px;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    background-color: white;
    border-width: 20px;
}
h1{ text-align: center;
     font-size: 20px;
     font-weight: bold;
     color: white;
     background-color: blue;
     border : 2px ;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     margin-bottom: -20px;
     padding: 5px;
}
#tb{
       
    background-color: white;
    border-left: black solid 2px;
    border-right: black solid 2px;
    border-radius: 4px;
text-align: center;
padding-bottom: -10px;
}
 .nm{
            color: blue;
            font-weight: bold;
            text-align: left;
            margin-top: 1px;
            margin-bottom: 10px;
            padding-top: 1px;
            padding-left: 10px;
        }
.sp{
            color: black;
        }
 #rl{
         margin-top: -10px;
           text-align: right;
            padding: 5px;
            background-color: blue;
            color: white;
            font-weight: bold;
  border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;

        }

#pd{padding-bottom: 10px;}
#pp{padding-top: 10px;}
#imag{
    margin-top: 0;
    width: 70px;
    height: 80px;
    border: 2px solid green;
    border-radius: 10px;
    font-weight: bold;
    background-color: white;
    margin-left: 20px;
    margin-right: 10px;
    align-self: center;
}
#imag:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: grey;
}