*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.mediatext figure , .mediatext section{
border: 1px solid black;
background-color: var(--giallo-logo);
}


.mediatext {
    display: flex ;
}


.mediatext figure  img {
 width: 100%;
 object-fit: cover;
 vertical-align:bottom;
}

#pippoMTA{
    flex-direction: row-reverse ;
}
h1{
 font-size: clamp(2.5rem, 2.1429rem + 1.1429vw, 3rem);
}


h2{
font-size: 50px;
}

@media screen and (width<=576px){
    .mediatext figure , 
    .mediatext section{
        border: 2px solid red;
        flex-basis: 100%;
    }
}

@media screen and (width<=576px){
   #pippoMT, #pippoMTA, .mediatext{
         flex-direction: column-reverse;
    }
   
}

@media screen and (width>768) and (width<=992px){
    .mediatext figure, 
    .mediatext section{
        border: 2px solid blue;
    }
}

@media screen and (width<=768){
    .mediatext figure, 
    .mediatext section{
        border: 2px solid green;
    }
}

:root{ 
    --colore-testo: #292929;
    --marrone-logo: #874C53;
    --giallo-logo:  #f1be48;
    --arancione-logo: #DC582A;

}
p{
    line-height: 2rem;
}

table {
    width: 50%;
    margin-bottom: 300px;
}
table, tr, th, td {
    border: #292929;
    border-collapse: collapse;
}

table thead {
    height: auto;
    background-color: #DC582A;
}

table tbody tr:nth-child {
    padding: 10px;
}

table caption{
    font-size: 55px;
    color: #292929;
    font-weight: 100px;
    margin-bottom: 20px;
}